export(AC.index)
export(Achlioptas.hclustering)
export(Achlioptas.hclustering.tree)
export(Achlioptas.random.projection)
export(Average.Contraction)
export(Average.Expansion)
export(Cluster.validity.from.similarity)
export(Cluster.validity)
export(Do.similarity.matrix.partition)
export(Do.similarity.matrix)
export(Generate.clusters)
export(generate.sample.h1)
export(generate.sample.h2)
export(generate.sample.h3)
export(generate.sample0)
export(generate.sample1)
export(generate.sample2)
export(generate.sample3)
export(generate.sample4)
export(generate.sample5)
export(generate.sample6)
export(generate.sample7)
export(generate.uniform)
export(generate.uniform.random)
export(JL.predict.dim.multiple)
export(JL.predict.dim)
export(JL.predict.distortion)
export(Max.Contraction)
export(Max.Expansion)
export(Max.Min.Contraction)
export(Max.Min.Expansion)
export(Min.Expansion)
export(Multiple.Random.fuzzy.kmeans)
export(Multiple.Random.hclustering)
export(Multiple.Random.kmeans)
export(Multiple.Random.PAM)
export(Norm.hclustering)
export(Norm.hclustering.tree)
export(norm.random.projection)
export(Plus.Minus.One.random.projection)
export(PMO.hclustering)
export(PMO.hclustering.tree)
export(rand.norm.generate.full)
export(rand.norm.generate)
export(random.component.selection)
export(Random.fuzzy.kmeans.validity)
export(Random.hclustering.validity)
export(Random.kmeans.validity)
export(Random.PAM.validity)
export(random.subspace)
export(RS.hclustering)
export(RS.hclustering.tree)
export(Transform.vector.to.list)
export(Validity.indices)